body{
    padding: 50px;
}
.container{
    height: 680px;
    
}
.niveles{
    
    text-align: center;
    
}

.containerPreguntas{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}
.btn_r{
    margin-bottom: 10px;
}
.containerPuntaje{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicador{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: aqua;
    position: relative;
    top: 35px;
    left: 60px;
    transition: all 0.5s;
}